[paper link here]({{ url }})
paper-authors::{% for author in authors %} [[{{ author }}]],{% endfor %}
paper-institutions::
paper-abstract:: {{ abs }}
paper-published:: [[[[{{ published_year }}]]-{{ published_month }}]]
Tags:: #Paper{% for tag in tags %} #[[{{tag}}]]{% endfor %}
{{ "{{[[TODO]]}}" }} Consider summarising for [[Alignment Newsletter]]?
# Summary
# Notes
{% for note in notes %}
  {{ note }}
{% endfor %}
# Critique
